<head>
  <link rel="stylesheet" href="/css/style.css">
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
  <style>
    .navbar {
      background-color: #3CF696;
    }

    /* Dropdown container */
    .dropdown {
      position: relative;
      display: inline-block;
    }

    /* Dropdown content (hidden by default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #e5e6de;
      min-width: 120px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
      background-color: #3CF696;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    .navbar-nav .nav-item a {
      display: inline-block;
      position: relative;
    }

    .navbar-nav .nav-item a span {
      display: inline-block;
      transition: transform 0.3s ease;
    }

    .navbar-nav .nav-item a:hover span {
      animation: jump 0.5s ease-in-out forwards;
    }

    @keyframes jump {

      0%,
      100% {
        transform: translateY(0);
      }

      25% {
        transform: translateY(-5px);
      }

      50% {
        transform: translateY(0);
      }

      75% {
        transform: translateY(-2px);
      }
    }
  </style>
</head>

<nav class="navbar navbar-expand-lg fixed-top navbar">
  <div class="container" style="height:60px">
    <a class="navbar-brand custom-logo" href="/home"><img class="navbar-logo" src="/images/NavImg.jpg"
        style="height:70px;" alt="rmhub"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link ml-3" href="/home"> <span>H</span><span>o</span><span>m</span><span>e</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3"
            href="/phones"><span>P</span><span>h</span><span>o</span><span>n</span><span>e</span><span>s</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3"
            href="/wearables"><span>W</span><span>a</span><span>t</span><span>c</span><span>h</span><span>e</span><span>s</span></a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link ml-3"
            href="/tablets"><span>T</span><span>a</span><span>b</span><span>l</span><span>e</span><span>t</span><span>s</span></a></a>
        </li>
      </ul>
      <form action="/home" method="GET" class="form-inline my-2 my-lg-0">
        <div class="input-group">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query"
            style="border-radius: 15px;">
          <div class="input-group-append">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
              style="background-color:#E5E6DE; border-radius:15px"><i class="fas fa-search"
                style="color:black;"></i></button>
          </div>
        </div>
      </form>
      <div class="navbar-nav ml-auto">
        <a class="nav-link" href="/wishlist/getwishlist" title="Wishlist"><i class="fas fa-heart navbar-icon"
            style="color:black;"></i></a>
        <a class="nav-link" href="/cart/getcart" title="Cart"><i class="fas fa-shopping-cart navbar-icon"
            style="color:black;"></i></a>
        <div class="dropdown">
          <button class="nav-link dropbtn" style="background: none; border: none; cursor: pointer;">
            <i class="fas fa-user navbar-icon" style="color: black;"></i>
          </button>
          <div class="dropdown-content">
            <a href="/profile/getprofile">Profile</a>
            <a href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<script>
  document.querySelectorAll('.navbar-nav .nav-item a').forEach(item => {
    let text = item.textContent;
    let newText = '';
    for (let i = 0; i < text.length; i++) {
      newText += '<span>' + text[i] + '</span>';
    }
    item.innerHTML = newText;
  });

</script>