<!DOCTYPE html>
<html>

<head>
    <title>RMHUB</title>
    <link rel="icon" type="image/x-icon" href="/images/NavImg.jpg">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">

    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }

        .navbar {
            background-color: #3cf696;
            height: 60px;
        }

        .navbar img {
            height: 100%;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            /* Changed height to min-height */
        }

        .form-container {
            width: 400px;
            padding: 20px;
            /* Reduced padding */
            background-color: #fff;
            border-radius: 20px;
            box-shadow: 0px 0px 20px #3cf696;
            animation: slideIn 1s ease;
        }

        @keyframes slideIn {
            from {
                opacity: 0;
                transform: translateY(-50px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .logo-small {
            width: 50px;
            height: 50px;
            border: 2px solid #3cf696;
            border-radius: 50%;
            background-color: #e5e6de;
            margin: auto;
            margin-bottom: 20px;
        }

        .btn-success {
            background-color: #3cf696;
            border-color: #3cf696;
            color: #fff;
            font-weight: bold;
            transition: all 0.3s ease;
        }

        .btn-success:hover {
            background-color: #36e687;
            border-color: #36e687;
        }

        .error {
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
            /* Adjusted margin */
        }

        .btn-link {
            color: #3cf696;
            text-decoration: none;
            font-weight: bold;
            transition: all 0.3s ease;
        }

        .btn-link:hover {
            text-decoration: underline;
            color: #36e687;
        }

        .signup-title {
            background-color: #3cf696;
            color: #fff;
            padding: 10px 20px;
            border-radius: 10px;
            margin-bottom: 20px;
            font-size: 24px;
            text-align: center;
        }

        /* Form styles */
        .form-group {
            margin-bottom: 15px;
            /* Adjusted margin */
        }

        .form-label {
            font-weight: bold;
            color: black;
        }

        .form-control {
            border-radius: 10px;
            border: 1px solid #3CF696;
            padding: 10px;
            width: 100%;
            background-color: #ffffff;
            /* Set background color to white */
        }

        .btn-primary {
            background-color: #3CF696;
            border: none;
            border-radius: 10px;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
        }

        .btn-primary:hover {
            background-color: #32c084;
        }

        /* Style for Referral Code Field */
        #referalCode {
            border-radius: 10px;
            border: 1px solid #3CF696;
            padding: 10px;
            width: 100%;
            background-color: #ffffff;
        }

        #referalCode:focus {
            outline: none;
            border-color: #32c084;
            /* Change border color on focus */
        }

        /* Error message style for Referral Code Field */
        #errorReferalCode {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }
    </style>
</head>

<body>

    <!-- <div class="navbar">
        <img src="/images/NavImg.jpg" alt="Logo">
    </div> -->

    <div class="container">
        <div class="form-container">
            <div class="header">
                <div class="signup-title">🙂Join Us Today!...</div>
                <div>
                </div>
                <%if(locals.exists){%>
                    <div class="error" style="text-align: center;">
                        <%=exists%>
                    </div>
                    <%}%>
            </div>
            <!-- <div class="text-center">
                <img src="/images/user-authentication-svgrepo-com.svg" alt="Logo" class="logo-small">
            </div> -->
            <form action="/signup" method="post" onsubmit="return validateForm()">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter First Name" name="firstName"
                        id="firstName">
                    <div class="error" id="firstNameError"></div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName" id="lastName">
                    <div class="error" id="lastNameError"></div>
                </div>

                <div class="form-group">
                    <input type="tel" class="form-control" placeholder="Enter Mobile No." name="mobileNumber"
                        id="mobileNumber">
                    <div class="error" id="mobileNumberError"></div>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email">
                    <div class="error" id="emailError"></div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Enter Password" name="password"
                        id="password">
                    <div class="error" id="passwordError"></div>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword"
                        id="confirmPassword">
                    <div class="error" id="confirmPasswordError"></div>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter Referral Code (optional)"
                        name="referalCode" id="referalCode">
                    <div class="error" id="referalCodeError"></div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
                <p style="text-align: center;">Already a member? <a href="/login" class="btn-link">Login</a></p>
            </form>
        </div>
    </div>

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script>
        function validateForm() {
            var firstName = document.getElementById("firstName").value.trim();
            var lastName = document.getElementById("lastName").value.trim();
            var mobileNumber = document.getElementById("mobileNumber").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;
            var referralCode = document.getElementById("referalCode").value;

            var isValid = true;

            // Validate First Name
            if (!firstName.match(/^[a-zA-Z]+$/)) {
                document.getElementById("firstNameError").innerHTML = "*Please enter a valid first name";
                document.getElementById("firstName").style.borderColor = "red";
                isValid = false;
            } else {
                document.getElementById("firstNameError").innerHTML = "";
                document.getElementById("firstName").style.borderColor = "";
            }

            // Validate Last Name
            if (!lastName.match(/^[a-zA-Z]+$/)) {
                document.getElementById("lastNameError").innerHTML = "*Please enter a valid last name";
                document.getElementById("lastName").style.borderColor = "red";
                isValid = false;
            } else {
                document.getElementById("lastNameError").innerHTML = "";
                document.getElementById("lastName").style.borderColor = "";
            }

            // Validate Mobile Number
            if (!mobileNumber.match(/^\d{10}$/)) {
                document.getElementById("mobileNumberError").innerHTML = "*Please enter a 10-digit mobile number";
                document.getElementById("mobileNumber").style.borderColor = "red";
                isValid = false;
            } else {
                document.getElementById("mobileNumberError").innerHTML = "";
                document.getElementById("mobileNumber").style.borderColor = "";
            }

            // Validate Email
            if (!email.match(/\S+@\S+\.\S+/)) {
                document.getElementById("emailError").innerHTML = "*Please enter a valid email address";
                document.getElementById("email").style.borderColor = "red";
                isValid = false;
            } else {
                document.getElementById("emailError").innerHTML = "";
                document.getElementById("email").style.borderColor = "";
            }

            // Validate Password
            if (!password.match(/^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{6,}$/)) {
                document.getElementById("passwordError").innerHTML = "*Password must contain at least one uppercase letter, one digit, one special character, and be at least 6 characters long"
                document.getElementById("password").style.borderColor = "red";
                isValid = false;
            } else {
                document.getElementById("passwordError").innerHTML = "";
                document.getElementById("password").style.borderColor = "";
            }

            // Validate Confirm Password
            if (password !== confirmPassword) {
                document.getElementById("confirmPasswordError").innerHTML = "*Passwords do not match";
                document.getElementById("confirmPassword").style.borderColor = "red";
                isValid = false;
            } else {
                document.getElementById("confirmPasswordError").innerHTML = "";
                document.getElementById("confirmPassword").style.borderColor = "";
            }

            // Validate Referral Code


            return isValid;
        }
    </script>

</body>

</html>