<div class="navbar">
    <img src="/images/NavImg.jpg" alt="Logo">
</div>

<style>
    .navbar {
        background-color: #3cf696;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
    }

    .navbar img {
        height: 50px;
        width: auto;
        /* Add this to maintain aspect ratio */
    }
</style>